<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Good Map/signup orga edit</title>
    <!-- <link rel="stylesheet" href="../static/style/sign_up_orga_edit.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/sign_up_orga_edit.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
        <!-- navbar -->
    <div class="greenBackground">
        <div class="fixed">
            <div class="navBar">
                <div class="navBarLeft">
                    <h1>#THEGOODMAP</h1>
                    <div class="menu">
                        <a href="/">HOME</a>
                        <a href="/projects">PROJECTS</a>
                        <a href="/map"><img src="../static/img/hand_map.png" alt="mapheart" id="heartmap"></a>                    </div>
                </div>
                <div class="navBarRight">
                    <a href="/dashboard_orga">Dashboard</a>
                </div>
            </div>
        </div>
    </div>

    <div class="story">
        <h2>Edit Your Info</h2>
        <span class="greenLine"></span>
    </div>
    <div class="formSignUp">
        <form action="/orga/{{orga.id}}/update" method="post">
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" value="{{orga.name}}">
            </div>
            <div>
                <label for="description">Description Of Your Organisation:</label>
                <textarea name="description" id="description" cols="30" rows="30">{{orga.description}}</textarea>
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" value="{{orga.email}}">
            </div>
            <div>
                <label for="date">Date Of Creation*:</label>
                <input type="date" name="date" id="date" value="{{orga.date}}">
            </div>
            <div>
                <label for="logo">Organisation Logo URL:</label>
                <input type="text" name="logo" id="logo" value="{{orga.logo}}">
            </div>
            <input type="submit" value="Submit" id="submit">
        </form>
    </div>
    <footer>
        <p>SIGN UP FOR THE NEWSLETTER</p>
        <p>ⓒ by Caroline Denis</p>
    </footer>


    <script type="text/javascript" src="{{ url_for('static', filename='/js/script.js') }}"></script>
</body>

</html>